<article class="post">
	<div class="home-post-title">
		<a href="/post/{{id}}">{{title}}</a>
	</div>
	<div class="meta home-info">
		<i class="fas fa-feather-alt"></i>
		&emsp;by {{user.username}}
		</br>

		<i class="fas fa-clock"></i>
		&emsp;{{date_format created_at}}
		</br>

		<i class="fas fa-comment-dots"></i>
		&emsp;<a href="/post/{{id}}">{{comments.length}} {{word_format "comment" comments.length}}</a>
		</br>
		
		<a href="/dashboard/edit/{{post.id}}" class="edit-post"><button id="edit-post" class="btn">Edit
				post</button></a>
	</div>
</article>