{{#if loggedIn}}
{{> main-header}}
{{else}}
{{> login-header}}
{{/if}}
<div class="posts-style">
	<ul class="post-list">
		{{#each posts as |post|}}
		<li>
			<article class="post">
				<div class="title">
					<a href="***post***">{{post.title}}</a>
				</div>
				<div class="meta">
					<i class="fas fa-feather-alt"></i>
					by {{post.user.username}}
					</br>

					<i class="fas fa-clock"></i>
					{{post.created_at}}
					</br>

					<i class="fas fa-comment-dots"></i>
					<a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
				</div>
			</article>
		</li>
		{{/each}}
	</ul>
</div>