<article class="post">
	<div class="title">
		<h2>
			{{post.title}}
		</h2>
		<p>{{post.content}}</p>

	</div>
	<div class="meta">
		<i class="fas fa-feather-alt"></i>
		&emsp;by {{post.user.username}}
		</br>

		<i class="fas fa-clock"></i>
		&emsp;{{post.created_at}}
		</br>

		<i class="fas fa-comment-dots"></i>
		&emsp;<a href="#comments">{{post.comments.length}} comment(s)</a>
	</div>
</article>
{{#if loggedIn}}
<form class="comment-form">
	<div>
		<textarea name="comment-body"></textarea>
	</div>
	<div>
		<button type="submit" class="btn">add comment</button>
	</div>
</form>
<script src="/javascript/comment.js"></script>
{{/if}}
	<div class="comments">
		{{#each post.comments}}
		<section class="comment">
			<div class="text">
				</br>
				<i class="fas fa-comment-dots"></i>

				&emsp;{{comment_text}}
			</div>
			<div class="meta">
				</br>
				<i class="fas fa-feather-alt"></i> &emsp;by {{user.username}}
				</br>
				<i class="fas fa-clock"></i>&emsp; {{created_at}}
				</br>
			</div>
		</section>
		{{/each}}
	</div>
