<article class="post">
	<div class="title">
		<h2>
			{{post.title}}
		</h2>
		<p>{{post.content}}</p>

	</div>
	<div class="meta">
		<i class="fas fa-feather-alt"></i>
		by {{post.user.username}}
		</br>

		<i class="fas fa-clock"></i>
		{{post.created_at}}
		</br>

		<i class="fas fa-comment-dots"></i>
		<a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
	</div>
</article>