<article class="post">
	<div class="current-post">
		<h2 class="view-post-title">
			{{post.title}}
		</h2></br>
		</h2>
		<p class="post-content">{{post.content}}</p>

	</div>
	<div class="meta">
		</br>
		<i class="fas fa-feather-alt"></i>
		&emsp;by {{post.user.username}}
		</br>

		<i class="fas fa-clock"></i>
		&emsp;{{date_format post.created_at}}
		</br>

		<i class="fas fa-comment-dots"></i>
		&emsp;{{post.comments.length}} {{word_format "comment" comments.length}}
		</br>

	</div>
</article>
{{#if loggedIn}}
{{>add-comment}}
{{/if}}
{{>comment-content}}